/*Set the main theme color to emerald green*/
body {
  background-color: #f2fff0;
  color: #222; 
  font-family: sans-serif;
  /*font-size: vw;*/
}

/* Apply minimalistic styles to headings */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  /*padding: 0;*/
  font-weight: normal;
}

h1 {
  font-size: 5vw;
  color: #005c3e; /* Emerald green for headings */
  text-align: center;
  font-family: Garamond, Helvetica, Tahoma, Verdana, sans-serif;
  padding-top: 1.25vw;
  padding-bottom: 1.75vw;
}

h2 {
  color: #005c3e;
  font-size: 2.5vw;
  font-family: Garamond, Helvetica, Tahoma, Verdana, sans-serif;
  padding-bottom: 1vw;
  padding-top: 1vw;
}

h3 {
  color: #005c3e;
  /*font-family: monospace;*/
  /*font-style: italic;*/
  font-size: 1.75vw;
  /*padding-bottom: 15px;*/
}

h4 {
  color: #005c3e;
  font-size: 1.2vw;
  font-style: italic;
  padding-top: 0.4vw;
  margin-bottom: 0;
}

a:link {
  color: #5F9EA0 ; /* #005c3e Emerald green for links */
  text-decoration: none;
}

a:not(.bar):visited{
  /*color: #FF1493;*/
  color: #FF69B4;
}

a:hover {
  text-decoration: underline;
}

b{
  color: #005c3e;
}

ul {
  padding: 1vw;
  margin: 0;
  margin-left: 1vw;
  list-style: none;
}

li{
  padding-bottom: 0.5vw;
  padding-top: 0;
}

table {
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
  border-collapse: collapse;
}

th {
  text-align: center;
  font-weight: bold;
  border: 0.5px solid black;
  border-collapse: collapse;
  font-size: 1.5vw;
}

td {
  padding-left: 0.75vw;
  padding-right: 0.75vw;
  text-align: center;
  border: 0.5px solid black;
  border-collapse: collapse;
  font-size: 1vw;
}

li{
  line-height: 1; 
  margin-bottom: 1vw; 
  font-size: 1vw;
}

.center{
  text-align: center;
}

.surp1:before{
  content: '\1F419';
  margin-left: -2vw; 
  margin-right: 1vw;
}

.surp2:before{
  content: '\1F996';
  margin-left: -2vw;  
  margin-right: 1vw;
}

.surp3:before{
  content: '\1F34B';
  margin-left: -2vw; 
  margin-right: 1vw;
}

.surp4:before{
  content: '\1F344';
  margin-left: -2vw; 
  margin-right: 1vw;
}

p {
  margin-bottom: 0.8vw;
  font-size: 1vw;
  /*padding: 0;*/
  line-height: 1.5;
  text-align: justify;
  margin-top: 0.2vw;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 2vw;
  margin-bottom: 0.8vw;
}

.lang{
  display: none;
}


.small{
  line-height: 1; 
  margin-bottom: 0.2vw;
}

/*#map {
    height: 400px; 
    width: 100%; 
}*/

@media only screen and (min-device-width: 768px) {
  #picme{
    max-width: 100%;
  }

  .navbar {
    background-color: #006400;
    padding-top: 0.8vw;
    padding-bottom: 0.8vw;
    /*display: flex;*/
    justify-content: space-around;
  }

  .navbar .lang{
    width: 100%;
    /*display: flex;*/
    justify-content: space-around;
  }

  .navbar-link {
    color: #FFFFFF;
    opacity: 0.8;
    text-decoration: none;
    margin-right: 2vw;
  }

  .navbar-link:hover {
    text-decoration: underline;
  }

  .splitmain {
    display: grid;
    position: absolute;
    z-index: 1;
    top: 8;
    overflow-x: hidden;
    padding-top: 0.6em;
    grid-gap: 2.8em;
    grid-template-columns: auto 50% auto;
  }

  .sleftmain{
    margin-top: 0.2vw;
    grid-column: 1;
    margin-left: 0.6em;
  }

  .smidmain{
    margin-top: 6vw;
    grid-column:  2;
    margin-left: 1.3em;
    margin-right: 1.3em;
  }

  .srightmain{
    margin-top: 6.5vw;
    grid-column: 3 ;
    /*margin-left: 1em;*/
    margin-right: 1em;
  }

  .bar{
    color : #FFFFFF;
    font-size: 1.3vw;
  }

  #l_fr{
    right: -1.2vw;
    top: 0.4em;
    position: absolute;
  }
  #l_en{
    right: -1.2vw;
    top: 2.1em;
    position: absolute;
  }
  #l_it{
    right: -1.2vw;
    top: 3.8em;
    position: absolute;
  }
  #l_sv{
    right: -1.2vw;
    top: 5.5em;
    position: absolute;
  }

  .grid-container{
    display: grid;
    grid-template-columns: 33% 33% 33%;
  }

  .grid-container2{
    display: grid;
    grid-template-columns: 50% 50%;
  }

  .grid-item{
    text-align: left;
    margin-left: 1em;
    margin-right: 1em;
  }
}

@media only screen and (max-device-width: 760px){s
  .navbar{
    width: 5em;
    right: 0;
    visibility: hidden;
  }

  .grid-container2{
    margin-left: 6em;
  }

}
